.video-content{
    overflow: hidden;
    height: 70%;
    text-align: center;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    border-radius: 15px;
}

.video{
    height:fit-content;
    max-height: 450px;
    background-color: rgb(0, 0, 0);
}

@media (max-width:900px){
    .video{
        height:fit-content;
        max-height: 225px;
        background-color: rgb(0, 0, 0);
    }
}