.main-content{
    height:80%;
    width: 100%;
}

@keyframes zoom-in{
    from{
        width:100%;
    }   
    to{
        width:102%
    }
}

@keyframes open{
    from{
        background-color: rgb(255, 255, 255);
    }
    to{
        background-color: rgba(255, 255, 255, 0);
    }
}