.buttons{
    position:relative;
    margin-top: 100px;
}
.like-button{
    background:none;
    border:none;
    width:60px;
    left:15%;
    position: absolute;
    bottom:0px;
    
}
.comments-button{
    background:none;
    border:none;
    width:60px;
    right:15%;
    position: absolute;
    bottom:0px;
}

/* .button:hover{
    width: 100px;
} */

.buttons > button{
    transition:all 0.25s;
    filter: invert(10%) sepia(20%) saturate(70%) hue-rotate(170deg) brightness(550%) contrast(119%);
}

.buttons > button:hover{
    width: 70px;
}

.btn{
    width:100%;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

.post-item{
    width:100%;
    margin-top: 80px;
}