.comments-section{
    width:80%;
    height:fit-content;
    display:flex;
    flex-direction:column-reverse;
    margin-left:30%;
    /* border: 1px solid rgb(148, 148, 148); */
}




.comment-connections{
    border-left: 1px solid rgb(182, 182, 182);
    padding-left: 10px;
    /* border-bottom: 1px solid rgb(155, 155, 155); */
    /* border-bottom-left-radius: 30px; */

}